:root {
  --main-colour: #4CB548;
  --body-typeface: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, legend {
  margin: 2.5rem 0 1rem 0;
}

a:hover,
a:active,
a:focus {
  color: #333;
}

a.main-header__admin-link,
a.main-header__lang-link,
a.full-issue__link {
  color: #FFF;
}

.dropdown-menu {
  border-radius: 0;
}

.nav-link {
  margin: 0;
}

.btn {
  padding: .75em 1em;
}

#navigationUser .dropdown-menu,
#languageNav .dropdown-menu {
  margin-top: .5em;
  border: 0;
  outline: 1px solid #FFF;
}

#navigationUser .dropdown-menu,
#languageNav .dropdown-menu,
#navigationUser .dropdown-item,
#languageNav .dropdown-item {
  padding: 0;
}

#navigationUser .dropdown-item a,
#languageNav .dropdown-item a {
  border: 0;
  padding: .75em .5em;
  transition: all .15s ease-in-out;
  font-size: smaller;
}

#navigationUser .dropdown-item a:hover,
#languageNav .dropdown-item a:hover {
  border: 0;
  background: var(--main-colour);
}

.article__meta {
  margin-bottom: .5em;
}

.article-page {
  background: #FFF;
  color: #000;
}

.article-page a {
  color: #000;
}

.article-page__meta a:after {
  border: 0;
}

.issue__header {
  margin-bottom: 0;
}

.issue__meta {
  margin-top: 0;
}

.issue-section__title {
  margin-top: 0;
}

.issue-desc .issue-desc {
  padding-bottom: 0;
}

.main-footer {
  background-color: var(--main-colour);
  color: #000;
  font-weight: 400;
}

.main-footer p,
.main-footer li,
.main-footer blockquote,
.main-footer cite,
.main-footer dd,
.main-footer .btn {
  font-family: var(--body-typeface);
  font-weight: 400;
}

.main-footer h2,
.main-footer h3 {
  font-family: var(--body-typeface);
  letter-spacing: .05em;
}

.main-footer a {
  display: inline;
}

.main-footer a:link,
.main-footer a:visited {
  color: #000;
}

.main-footer a.btn:link,
.main-footer a.btn:visited {
  color: #FFF;
  font-weight: bold;
  letter-spacing: .05em;
}

.main-footer a.btn:hover,
.main-footer a.btn:active,
.main-footer a.btn:hover {
  background-color: var(--main-colour);
  color: #000;
}

.user-page-footer {
  font-family: var(--body-typeface);
}

.pkpbrand-wrapper {
  text-align: right;
}
